<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SHShare is a file sharing application to transfer files over local network">
    <meta name="author" content="Hadzhilov Serhii">

    <link rel="icon" href="/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext"
        rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

    <title>SHShare</title>
</head>

<body>
    <%- include("widgets/menu.ejs") %>
    <%- include("widgets/banner.ejs") %>
    <%- include("widgets/features.ejs") %>
    <%- include("widgets/download.ejs") %>
    <%- include("widgets/help.ejs") %>
    <%- include("widgets/footer.ejs") %>

    <script src="/js/scripts.js"></script>
</body>
<html>